.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  text-align: center;
}

.appTitle {
  margin: 0;
  font-size: clamp(2rem, 2vw + 2rem, 4rem);
  font-family: var(--font-fancy, system-ui);
}

.appSubtitle {
  max-inline-size: 60ch;
  color: var(--color-muted);
  margin: 0;
}

.appLink {
  color: var(--color-text);
  text-decoration: dotted underline;
}
